@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-Montserrat: "Montserrat", sans-serif;
  --ff-Fraunces: "Fraunces", serif;
  --normalgreen: hsl(158, 36%, 37%);
  --activegreen: hsl(158, 42%, 18%);
  --h1: hsl(212, 21%, 14%);
  --p: hsl(228, 12%, 48%);
  --body: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--body);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 100px 0;
}

.product-card-container {
  border-radius: 10px;
  max-width: 500px;
  display: flex;
  background-color: var(--white);
  overflow: hidden;
}

.perfume-image-desktop {
  width: 50%;
  object-fit: cover;
}

.perfume-image-mobile {
  display: none;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.4rem;
}

.product-textcontent p:nth-child(1) {
  font-family: var(--ff-Montserrat);
  font-weight: 500;
  font-size: 0.625rem;
  letter-spacing: 4px;
  color: var(--p);
}

.product-textcontent p:nth-child(3) {
  font-family: var(--ff-Montserrat);
  color: var(--p);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 1.67em;
}

.product-textcontent h1 {
  font-family: var(--ff-Fraunces);
  font-size: 2rem;
  padding: 1rem 0;
  line-height: 32px;
}

.product-price {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.product-price p:nth-child(1) {
  font-family: var(--ff-Fraunces);
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--normalgreen);
  padding-right: 0.6em;
}

.product-price p:nth-child(2) {
  font-family: var(--ff-Montserrat);
  font-size: 0.625rem;
  font-weight: 500;
  color: var(--p);
  text-decoration: line-through;
}

.btn {
  width: 100%;
  padding: 1.2em 0;
  border: none;
  border-radius: 4px;
  background-color: var(--normalgreen);
  color: var(--white);
  font-family: var(--ff-Montserrat);
  font-weight: 700;
  font-size: 0.625rem;
  letter-spacing: 0.4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 3px 3px 5px black;
}

.btn:active {
  background-color: var(--activegreen);
  box-shadow: none;
}

.icon-cart {
  width: 1.2em;
  margin-right: 0.4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-self: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
  .product-card-container {
    max-width: 500px;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .perfume-image-desktop {
    display: none;
  }

  .perfume-image-mobile {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
  }

  .product-textcontent p:nth-child(1) {
    font-size: 0.75rem;
  }

  .product-textcontent p:nth-child(3) {
    font-size: 0.875rem;
    max-width: 18rem;
  }

  .product-textcontent h1 {
    padding: 1.5rem 0;
  }

  .product-price p:nth-child(1) {
    font-size: 2rem;
  }

  .product-price p:nth-child(2) {
    font-size: 0.75rem;
  }

  .btn {
    padding: 1.6em 0;
    border-radius: 10px;
    font-size: 0.875rem;
  }
}
